/********* all *******/
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/********** start  header *********/
header{
    margin-top: 60px;
    background-color: #D6D8E2;
    display: flex;
    justify-content: space-between;
}
header .text{
    margin: 40px 50px 50px 60px;
    width: 100%;
    padding-left: 100px;
}
header .text h4{
    color: crimson;
    font-size: 28px;
    margin-top: 50px;

}
header .text p{
    width: 80%;
    line-height: 1.5;
    color: slategrey;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 50px;
}

header .background{
    background: url(img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 150px;
    width: 70%;
    height: auto;
}
 header .background .imgs{
     margin-top: 80%;
     text-align: center;
    padding: auto 20px;

}
header .background .imgs img{
    width: 28%;
    height: 150px;
    margin: 2%;
    padding: 3px;
    border-radius: 10px;
    background-color: #f8b3b3;
    border: 1px solid #d1c6c6;
}

/********** end  header *********/

/********* start section********/
section{
    margin-top: 70px;
    margin-bottom: 100px;

}
section >h2{
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 50px;
    letter-spacing: 1.9px;
}
section .all_card{
    width: 80%;
    margin: auto;
    display: flex;
}
section .all_card .card{
    background-color: #dadce529;
    width: 32%;
    margin-left: 1.3%;
    padding:30px ;
    overflow: hidden;

}
section .all_card .card p{
    font-weight: 900;
    font-size: 22px;
    margin: auto auto 20px auto;
    letter-spacing: 1.5px;
    line-height: 1.3;
}
section .all_card .card >img{
    width: 100%;
    height: 201px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section .all_card .card .coment{
    display: flex;
}
section .all_card .card .coment img{
    border-radius: 50%;
    margin-right: 30px;
}
section .all_card .card label,
section .all_card .card i{
    margin-top: 20px;
    color: #ae9f9f;
    
}
section .all_card .card i{
    margin-left: 20px;
    margin-right: 5px;
}

/********* end section********/

